.mac-book-pro-14-1,
.mac-book-pro-14-1 * {
  box-sizing: border-box;
}
.mac-book-pro-14-1 {
  background: #000000;
  height: 5403px;
  position: relative;
  overflow: hidden;
}
.portrait-happy-african-american-family-watching-movie-bed-bedroom-home-lifestyle-family-concept-1 {
  width: 1512px;
  height: 736px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.rectangle-241 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 85.50000190734863%
  );
  width: 1512px;
  height: 617px;
  position: absolute;
  left: 0px;
  top: 187px;
}
.escape-reality-binge-your-dreams {
  color: #ffffff;
  text-align: center;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 69.73003387451172px;
  line-height: 109.2%;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 452px);
  top: 413px;
  width: 904px;
}
.enjoy-your-offline-download {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 8px);
  top: 1499px;
  width: 487px;
}
.get-ready-for-exclusive-content-our-visionary-creators-are-crafting-groundbreaking-series-and-films-that-leave-you-craving-for-more {
  color: #b8b8b8;
  text-align: center;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 490px);
  top: 597px;
  width: 980px;
}
.download-shows-for-offline-viewing-look-for-the-download-option-in-the-app-enjoy-your-shows-anytime-anywhere {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 8px);
  top: 1671px;
  width: 490px;
}
.download-shows-for-offline-viewing-look-for-the-download-option-in-the-app-enjoy-your-shows-anytime-anywhere-span {
  color: #b8b8b8;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.download-shows-for-offline-viewing-look-for-the-download-option-in-the-app-enjoy-your-shows-anytime-anywhere-span2 {
  color: #ffffff;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.download-shows-for-offline-viewing-look-for-the-download-option-in-the-app-enjoy-your-shows-anytime-anywhere-span3 {
  color: #b8b8b8;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.vectary-texture {
  width: 792px;
  height: 723.49px;
  position: absolute;
  left: -57px;
  top: 1041px;
  object-fit: cover;
}
.vectary-texture2 {
  width: 995.07px;
  height: 909px;
  position: absolute;
  left: 9px;
  top: 1082px;
  object-fit: cover;
}
.https-lottiefiles-com-animations-download-dl-kba-16-v-i-2 {
  width: 181px;
  height: 181px;
  position: absolute;
  left: 686px;
  top: 1340px;
  object-fit: cover;
}
.frame-10 {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 100px;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: calc(50% - 8px);
  top: 1249px;
}
.on-our-mobile-application {
  color: #ffffff;
  text-align: center;
  font-family: "SpaceGrotesk-Regular", sans-serif;
  font-size: 16.7099609375px;
  line-height: 20.7px;
  font-weight: 400;
  position: relative;
}
.frame-314 {
  display: flex;
  flex-direction: row;
  gap: 79px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: -26px;
  top: 818px;
}
.unlimited {
  color: #101010;
  text-align: center;
  font-family: "PowerGroteskTrial-Medium", sans-serif;
  font-size: 104.12223815917969px;
  font-weight: 500;
  position: relative;
}
.movie {
  color: #101010;
  text-align: center;
  font-family: "PowerGroteskTrial-Medium", sans-serif;
  font-size: 104.12223815917969px;
  font-weight: 500;
  position: relative;
}
.entertainment {
  color: #101010;
  text-align: center;
  font-family: "PowerGroteskTrial-Medium", sans-serif;
  font-size: 104.12223815917969px;
  font-weight: 500;
  position: relative;
}
.rectangle-242 {
  background: #ffffff;
  width: 1512px;
  height: 1014px;
  position: absolute;
  left: 0px;
  top: 1942px;
}
.light-seal-2-1 {
  width: 499px;
  height: 417.06px;
  position: absolute;
  left: 642px;
  top: 2539.02px;
  object-fit: cover;
}
.vectary-texture3 {
  width: 1317px;
  height: 1203.08px;
  position: absolute;
  left: 642px;
  top: 1847px;
  object-fit: cover;
}
.vectary-texture4 {
  width: 969px;
  height: 885.18px;
  position: absolute;
  left: 525px;
  top: 2341px;
  object-fit: cover;
}
.get-to-watch-all-your-favourite-movies-on-any-device {
  color: #070707;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 656px);
  top: 2436px;
  width: 702px;
}
.enjoy-on-your-tv {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - -158px);
  top: 3706px;
}
.stream-your-favourites-anywhere-anytime-on-any-device {
  color: #070707;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 656px);
  top: 2608px;
  width: 490px;
}
.watch-your-favourite-cartoon-channel-with-your-kids {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -158px);
  top: 3816px;
  width: 490px;
}
.spongebob-pictures-bhnz-9-xwx-0-n-4-a-4-k-2-t-1 {
  width: 673px;
  height: 378.56px;
  position: absolute;
  left: 120px;
  top: 3576.25px;
  object-fit: cover;
}
.rectangle-243 {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.79) 100%
  );
  width: 675px;
  height: 91px;
  position: absolute;
  left: 118px;
  top: 3864.25px;
}
.tv-1 {
  width: 914px;
  height: 685.5px;
  position: absolute;
  left: 0px;
  top: 3434px;
  object-fit: cover;
}
.sketch-annotation-element-stroke-abstract-line-wavy-1 {
  width: 47.38px;
  height: 47.38px;
  position: absolute;
  left: 321px;
  top: 2293px;
  overflow: visible;
}
.rectangle-125 {
  background: rgba(255, 255, 255, 0.48);
  border-radius: 15.61px;
  border-style: solid;
  border-color: transparent;
  border-width: 0.62px;
  width: 533px;
  height: 1px;
  position: absolute;
  left: 149px;
  top: 3887.25px;
  backdrop-filter: blur(2.81px);
}
.rectangle-126 {
  background: #ffffff;
  border-radius: 15.61px;
  border-style: solid;
  border-color: transparent;
  border-width: 0.62px;
  width: 121.79px;
  height: 1.25px;
  position: absolute;
  left: 148.74px;
  top: 3886.99px;
  backdrop-filter: blur(2.81px);
}
._00-25-23 {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 6.245487213134766px;
  font-weight: 400;
  position: absolute;
  left: 148.74px;
  top: 3878.25px;
}
.frame-1032 {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 154.36px;
  top: 3895.11px;
}
.frame-310 {
  flex-shrink: 0;
  width: 29.98px;
  height: 29.98px;
  position: relative;
}
.ellipse-19 {
  background: rgba(0, 255, 25, 0.15);
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 0.62px;
  width: 29.98px;
  height: 29.98px;
  position: absolute;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(2.81px);
}
.call {
  width: 14.99px;
  height: 14.99px;
  position: absolute;
  left: 6.87px;
  top: 7.49px;
}
.vuesax-bold-call {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.play-plause {
  flex-shrink: 0;
  width: 29.98px;
  height: 29.98px;
  position: relative;
  overflow: visible;
}
.frame-311 {
  flex-shrink: 0;
  width: 29.98px;
  height: 29.98px;
  position: relative;
  overflow: visible;
}
.frame-312 {
  flex-shrink: 0;
  width: 29.98px;
  height: 29.98px;
  position: relative;
}
.ellipse-20 {
  background: rgba(0, 133, 255, 0.15);
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 0.62px;
  width: 29.98px;
  height: 29.98px;
  position: absolute;
  left: 0px;
  top: 0px;
  backdrop-filter: blur(2.81px);
}
.messages {
  width: 14.99px;
  height: 14.99px;
  position: absolute;
  left: 7.49px;
  top: 7.49px;
}
.vuesax-bold-messages {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.question {
  background: #090909;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 425px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 822px;
  position: absolute;
  left: calc(50% - 411px);
  top: 5087px;
}
._5-what-often-will-results-be-reported {
  color: #f8f9fa;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  position: relative;
}
.navigation {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.outlined-navigation-expand-more {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.question2 {
  background: #090909;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 424px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 822px;
  position: absolute;
  left: calc(50% - 411px);
  top: 4967px;
}
._4-what-will-be-delivered-and-when {
  color: #f8f9fa;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  position: relative;
}
.outlined-navigation-expand-more2 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.question3 {
  background: #090909;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 91px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 822px;
  position: absolute;
  left: calc(50% - 411px);
  top: 4847px;
}
._3-how-does-tanah-air-create-website-content-without-knowing-our-business-plan {
  color: #f8f9fa;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  position: relative;
}
.outlined-navigation-expand-more3 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.question4 {
  background: #090909;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 118px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - 411px);
  top: 4727px;
}
._2-why-should-i-choose-a-design-studio-like-tanah-air-over-full-service-agency {
  color: #f8f9fa;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  position: relative;
}
.outlined-navigation-expand-more4 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.question5 {
  background: #090909;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 822px;
  position: absolute;
  left: calc(50% - 411px);
  top: 4607px;
}
._1-what-services-does-tanah-air-offer {
  color: #f8f9fa;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  position: relative;
}
.outlined-navigation-expand-more5 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.here-are-some-questions-that-have-been-frequently-asked {
  color: var(--white-white-90, #cfd3d7);
  text-align: center;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 215px);
  top: 4537px;
}
.frequently-asked-questions {
  color: var(--white-white-20, #f8f9fa);
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 329px);
  top: 4459px;
}
.navbar-footer {
  width: 1512px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 5339px;
}
.rectangle-3 {
  background: #090909;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  height: 18px;
  position: absolute;
  right: 100px;
  top: 23px;
  overflow: hidden;
}
.icons-slack {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icons-reddit {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icons-twitter {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icons-telegram {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icons-linkedin {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.vector13 {
  width: 99px;
  height: 23px;
  position: absolute;
  left: 100px;
  top: 20px;
  overflow: visible;
}
.frame-313 {
  width: 498px;
  height: 121.41px;
  position: absolute;
  left: 100px;
  top: 2750px;
}
.available-soon-on {
  color: #070707;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 249px);
  top: 0px;
}
.group-11 {
  height: auto;
  position: absolute;
  left: 286.21px;
  top: 49.86px;
  overflow: visible;
}
.group-12 {
  position: absolute;
  inset: 0;
}
.group-10 {
  width: 406.41px;
  height: 48.66px;
  position: static;
}
.get-it-on {
  color: #070707;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14.310344696044922px;
  font-weight: 400;
  position: absolute;
  left: 77.28px;
  top: 64.17px;
  width: 71.55px;
  height: 20.03px;
}
.get-it-on2 {
  color: #070707;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 14.310344696044922px;
  font-weight: 400;
  position: absolute;
  left: 352.03px;
  top: 64.17px;
  width: 71.55px;
  height: 20.03px;
}
.app-store {
  color: #070707;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 25.758621215820312px;
  font-weight: 700;
  position: absolute;
  left: 74.41px;
  top: 78.48px;
  width: 128.79px;
  height: 34.34px;
}
.play-store {
  color: #070707;
  text-align: left;
  font-family: "DmSans-Bold", sans-serif;
  font-size: 25.758621215820312px;
  font-weight: 700;
  position: absolute;
  left: 352.03px;
  top: 78.48px;
  width: 128.79px;
  height: 34.34px;
}
.vector15 {
  height: auto;
  position: absolute;
  right: 87.93%;
  left: 4.6%;
  width: 7.47%;
  bottom: 14.14%;
  top: 50.5%;
  height: 35.36%;
  overflow: visible;
}
.rectangle-13 {
  border-radius: 14.31px;
  border-style: solid;
  border-color: #f91058;
  border-width: 2.86px;
  width: 231.83px;
  height: 74.41px;
  position: absolute;
  left: 0px;
  top: 47px;
  box-shadow: 0px 11.45px 17.17px 0px rgba(0, 0, 0, 0.33);
}
.rectangle-14 {
  border-radius: 14.31px;
  border-style: solid;
  border-color: #f91058;
  border-width: 2.86px;
  width: 231.83px;
  height: 74.41px;
  position: absolute;
  left: 266.17px;
  top: 47px;
  box-shadow: 0px 11.45px 11.45px 0px rgba(0, 0, 0, 0.25);
}
.line-2 {
  border-style: solid;
  border-color: #d90e4d;
  border-width: 1px 0 0 0;
  width: 47px;
  height: 0px;
  position: absolute;
  left: 218px;
  top: 19px;
}
.navbar-navbar {
  width: 1512px;
  height: 64px;
  position: absolute;
  left: calc(50% - 756px);
  top: 0px;
}
.rectangle-240 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.vector16 {
  width: 99px;
  height: 23px;
  position: absolute;
  left: 100px;
  top: 20px;
  overflow: visible;
}
.frame-297 {
  background: #f91058;
  border-radius: 8px;
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1268px;
  top: 13px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.create-an-account {
  color: #ffffff;
  text-align: left;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.sign-in {
  color: #ffffff;
  text-align: right;
  font-family: "DmSans-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1187px;
  top: 23px;
}






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  z-index: 10;
}

.navbar-brand {
  width: 100px;
  height: 100%;
}

.Netflix-logo {
  width: 100%;
  height: 100%;
}

.language-dropdown {
  background: transparent;
  border: none;
  color: white;
}

.language-dropdown:focus {
  outline: none;
}

.dropdown-container {
  border: 1px solid white;
  padding: 0.4rem;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.4);
}

.signin-button {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

.navbar-nav-items {
  display: flex;
  gap: 10px;
}

.netflix-bg-container {
  width: 100%;
  height: 80vh;
}

.netflix-bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.netflix-bg-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.netflix-card {
  position: absolute;
  top: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.netflix-title {
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
}

.netflix-subtitle,
.netflix-description {
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.netflix-description {
  margin: 0 50px;
}

.email-input {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding-left: 7px;
}
.email-label {
  color: black;
  position: absolute;
  top: 28%;
  left: 2%;
  color: rgb(153, 149, 149);
  transition: 0.5s;
}

.email-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form-container {
  background-color: white;
  width: 90%;
  height: 50px;
  position: relative;
}

.email-input:focus + .email-label {
  top: 0.2rem;
  font-size: 10px;
}

.email-input:not(:placeholder-shown).email-input:not(:focus) + .email-label {
  top: 0.2rem;
  font-size: 10px;
}

.email-input:focus-visible {
  outline: none;
}

.primary-button {
  background-color: #dc030f;
  border: 1px solid #dc030f;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 2px;
  font-size: 15px;
  letter-spacing: 1px;
}

.feature {
  border-top: 8px solid #222;
  padding: 2rem 1rem;
}

.feature-details {
  text-align: center;
}

.feature-heading {
  font-size: 25px;
  font-weight: 600;
  margin: 10px 0;
}

.feature-sub-heading {
  font-size: 15px;
  font-weight: 400;
}

.feature-image-container {
  width: 100%;
  position: relative;
}
.feature-image {
  width: 100%;
}

.feature-bg-video-container {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 13%;
  height: 100%;
  max-width: 73%;
  max-height: 54%;
  z-index: -2;
}

.feature-bg-video {
  width: 100%;
}

.feature-2-poster-container {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 16em;
  display: flex;
  align-items: center;
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  height: 60px;
  padding: 0.25rem 0.6rem;
  gap: 15px;
}

.poster-container {
  width: 20%;
}

.poster {
  width: 100%;
  height: 100%;
}
.poster-details {
  width: 60%;
}
.poster-details > h4 {
  font-size: 13px;
  font-weight: 500;
}
.poster-details > h6 {
  font-size: 12px;
  font-weight: 400;
  color: rgb(63, 63, 246);
}

.download-gif-container {
  width: 20%;
  height: 100%;
}
.gif {
  width: 100%;
  height: 100%;
}

.feature-3-bg-video-container {
  max-width: 63%;
  max-height: 47%;
  z-index: -2;
  top: 9%;
  left: 19%;
}

.FAQ-question {
  width: 100%;
}
.FAQ-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 18px;
  background-color: #303030;
  border: 1px solid #303030;
  color: white;
}

.FAQ-answer {
  background-color: #303030;
  border-top: 1px solid black;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.FAQ-answer > p {
  margin: 1rem;
}
.FAQ-list-container {
  border-top: 8px solid #222;
  padding: 2rem 0;
}
.FAQ-heading {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin: 1rem 3rem;
}

.FAQ-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.FAQ-email {
  text-align: center;
}

.FAQ-email > h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 2rem 0;
}

footer {
  border-top: 8px solid #333;
  padding: 2rem 1rem;
  color: #757575;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-row-2 {
  display: flex;
  font-size: 13px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.footer-row-1 > h4 {
  font-size: 16px;
  font-weight: 500;
  padding-top: 25px;
}

.footer-row-3 > .dropdown-container {
  width: fit-content;
  border: 1px solid #757575;
  color: #757575;
}

.footer-row-3 > .dropdown-container > .language-dropdown {
  color: #757575;
}

/* -------------------- Media Queries--------------------- */

@media (min-width: 768px) {
  .netflix-bg-container {
    height: 100vh;
  }

  .netflix-bg-overlay {
    height: 100vh;
  }

  .netflix-card {
    top: 40%;
    left: 30%;
    transform: translate(-20%, -20%);
  }
  .netflix-title {
    font-size: 3rem;
  }

  .netflix-subtitle {
    font-size: 1.5rem;
  }

  .netflix-description {
    padding-top: 15px;
    font-size: 1.2rem;
  }

  .feature {
    padding: 4rem;
  }

  .feature-heading {
    font-size: 35px;
  }

  .feature-sub-heading {
    font-size: 20px;
  }
  .feature-2-poster-container {
    max-width: 26em;
    height: 85px;
  }
  .poster-container {
    width: 15%;
  }
  .download-gif-container {
    width: 3rem;
    height: 3rem;
  }

  .poster-details > h4 {
    font-size: 18px;
  }
  .poster-details > h6 {
    font-size: 14px;
  }
  .FAQ-title {
    font-size: 20px;
  }
  .FAQ-heading {
    font-size: 38px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .FAQ-list {
    padding: 1rem 5rem;
  }
  .FAQ-email {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(15%);
  }
}

@media (min-width: 1024px) {
  .navbar {
    padding: 2% 4%;
  }

  .navbar-brand {
    width: 150px;
  }

  .Netflix-logo {
    width: 95%;
    height: 95%;
  }

  .signin-button {
    padding: 7px 20px;
    font-size: 15px;
  }
  .dropdown-container {
    padding: 5px 5px;
  }

  .navbar-nav-items {
    gap: 30px;
  }

  .netflix-card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .form-container {
    width: 75%;
  }

  .email-form-container {
    flex-direction: row;
    align-items: center;
    gap: 1px;
  }
  .primary-button {
    height: 50px;
  }

  .feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  .feature-details {
    text-align: left;
    padding: 0 6rem;
  }

  .feature-heading {
    font-size: 40px;
  }

  .feature-sub-heading {
    font-size: 20px;
  }

  .feature-image-container {
    max-width: 500px;
  }

  .feature:nth-child(even) {
    flex-direction: row-reverse;
  }

  .feature-2-poster-container {
    max-width: 20em;
    height: 100px;
    padding: 1rem;
  }
  .poster-container {
    width: 20%;
  }
  .FAQ-list {
    padding: 1rem 25rem;
  }
  .FAQ-email {
    transform: translateX(16%);
  }

  .FAQ-email > .email-form-container > .form-container {
    width: 55%;
  }

  footer {
    padding: 2rem 13rem;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
  }

  .footer-row-2 {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 100px;
  }

  .footer-row-1,
  .footer-row-3,
  .footer-row-4 {
    align-self: flex-start;
  }

  .column-1,
  .column-2,
  .column-3,
  .column-4 {
    width: 100%;
  }
  .column-1 > p,
  .column-2 > p,
  .column-3 > p,
  .column-4 > p {
    padding-bottom: 15px;
  }

  div.footer-row-3 > .dropdown-container {
    padding: 10px 5px;
  }
}

/* -------------------- Different Mobile Screens--------------------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navbar {
    top: 15px;
  }

  .Netflix-logo {
    padding-right: 10px;
  }

  .dropdown-container {
    padding: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  .signin-button {
    padding: 0.35rem 0.5rem;
  }

  .navbar-nav-items {
    gap: 12px;
  }

  .netflix-bg-container {
    height: 95vh;
  }

  .netflix-bg-overlay {
    height: 95vh;
  }

  .netflix-title {
    font-size: 1.625rem;
  }

  .footer-row-1 > h4 {
    font-size: 1em;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  .footer-row-2 {
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 15px;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }

  .footer-row-3 {
    padding-bottom: 10px;
    padding-left: 20px;
  }
  .footer-row-4 {
    padding-left: 20px;
    font-size: 0.8rem;
  }

  .FAQ-email {
    padding-bottom: 20px;
  }

  .FAQ-email > h3 {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
  }
}

@media (min-device-width: 360px) and (max-device-width: 640px) {
  .netflix-bg-container {
    height: 80vh;
  }

  .netflix-bg-overlay {
    height: 80vh;
  }

  .footer-row-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .column-1,
  .column-2,
  .column-3,
  .column-4 {
    width: 45%;
  }

  .column-1 > p,
  .column-2 > p,
  .column-3 > p,
  .column-4 > p {
    padding-bottom: 10px;
  }
}

@media (min-device-width: 540px) and (max-device-width: 720px) {
  .navbar {
    top: 15px;
  }

  .dropdown-container {
    padding: 0.1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }

  .signin-button {
    padding: 0.35rem 0.5rem;
  }

  .navbar-nav-items {
    gap: 12px;
  }

  .footer-row-2 {
    padding-left: 30px;
    gap: 0;
  }

  .column-1,
  .column-2,
  .column-3,
  .column-4 {
    width: 40%;
  }

  .footer-row-1 > h4,
  .footer-row-3,
  .footer-row-4 {
    padding-left: 30px;
  }
}

/* Laptop (min-device-width: 768px) (max-device-width: 1024px) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .netflix-bg-container {
    height: 80vh;
  }

  .netflix-bg-overlay {
    height: 80vh;
  }

  .footer-row-1 > h4 {
    padding-left: 30px;
  }
  .footer-row-2 {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    gap: 0;
  }

  .column-1,
  .column-2,
  .column-3,
  .column-4 {
    width: 25%;
  }

  .column-1 > p,
  .column-2 > p,
  .column-3 > p,
  .column-4 > p {
    padding-bottom: 20px;
  }

  .footer-row-3,
  .footer-row-4 {
    padding-left: 30px;
  }
}

/* I-Pad Orientation : Portrait */
@media only screen and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width: 768px) and (max-device-width: 1007px) {
  .navbar {
    top: 15px;
  }

  .Netflix-logo {
    height: 2.1rem;
    width: 6.75rem;
    padding-right: 10px;
  }

  .dropdown-container {
    font-size: 15px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .signin-button {
    font-size: 15px;
    padding: 0.55rem 0.9rem;
  }

  .navbar-nav-items {
    gap: 25px;
  }

  .footer-row-2 {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 40px;
    gap: 10px;
  }

  .column-1,
  .column-2,
  .column-3,
  .column-4 {
    width: 15%;
  }
  .column-1 > p,
  .column-2 > p,
  .column-3 > p,
  .column-4 > p {
    padding-bottom: 10px;
  }
}